.List__sectionTitle {
  font-size: 24px; }

.List__movieContainer {
  width: 100vw;
  display: flex;
  flex-direction: row; }

.Movie__coverContainer {
  height: 300px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat; }
